<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Dawaa+</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dawaa+</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dev.a0.apps.mymeds539</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dawaaplus</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>يحتاج التطبيق للوصول إلى الكاميرا لتصوير الوصفات الطبية والأدوية</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يحتاج التطبيق للوصول إلى مكتبة الصور لاختيار صور الأدوية</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>يحتاج التطبيق لحفظ التقارير الطبية وصور الأدوية في مكتبة الصور</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>يحتاج التطبيق لإرسال تنبيهات لتذكيرك بمواعيد الأدوية وقياسات الضغط والمواعيد الطبية</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>add-medication</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>إضافة دواء</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Add Medication</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>blood-pressure</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>تسجيل ضغط</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Log Blood Pressure</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeFavorite</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>blood-sugar</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>تسجيل سكر</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Log Blood Sugar</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCapturePhoto</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>today-doses</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>جرعات اليوم</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Today's Doses</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTime</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>appointment</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>موعد طبي</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Medical Appointment</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeDate</string>
		</dict>
	</array>
</dict>
</plist>
